<h2>Contact Us</h2>
<p>
Harold Pimentel, Ph.D. <br>
Assistant Professor <br>
Department of Computational Medicine <br>
Department of Human Genetics <br>
David Geffen School of Medicine at UCLA <br>
<br>
email: hjp (at) ucla.edu <br>
<br>
Life Science Building <br>
621 Charles E Young Dr S <br> 
Los Angeles, CA 90024 <br>
</p>

<p>
 <h3> Interested in joining the Pimentel lab? </h3>
 We are currently looking for kind, curious, and ambitious researchers. <b> Open positions are listed on our <a href="{{ site.url }}/join">Join</a> page.</b><br>
</p>

<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul>
